    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Courgette', cursive;
    }
    
    a {
        text-decoration: none;
        color: #2d3436;
    }
    
    .logo,
    .big-logo {
        font-family: 'Arizonia', cursive;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    
    nav {
        flex: 1;
        text-align: right;
    }
    
    nav ul {
        list-style-type: none;
    }
    
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    nav ul li a:hover,
    .active {
        box-shadow: 0 0 30px 0px rgb(0, 0, 0, 0.1);
        color: #e84393;
        border-radius: 40%;
        padding: 5px;
    }
    
    nav ul li a {
        text-decoration: none;
    }
    
    .logo h1 {
        padding: 20px;
        cursor: pointer;
    }
    
    .logo h1 a {
        color: #000;
    }
    
    .logo h1:hover {
        box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
        border-radius: 50%;
    }
    
    .logo h1 span {
        color: #e84393;
    }
    
    .container {
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .header {
        background: #ffe3f9;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .header .row {
        margin-top: 20px;
    }
    
    .header .row h1 {
        font-family: 'Arizonia', cursive;
        font-size: 100px;
    }
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
        text-align: center;
    }
    
    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }
    
    col-2 p {
        color: #2d3436;
        font-family: 'Arizonia', cursive;
    }
    
    .btn {
        display: inline-block;
        background: #e84393;
        color: #000;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
    }
    
    .btn:hover {
        background: #fd79a8;
    }
    
    .title {
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: #636e72;
    }
    
    .title:after {
        content: '';
        background: #fd79a8;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .col-4 {
        flex-basis: 28%;
        padding: 10px;
        max-width: 500px;
        margin-bottom: 50px;
        transition: transform 0.5s;
    }
    
    .col-4 img {
        width: 100%;
    }
    
    .rating .fa {
        color: #fd79a8;
    }
    
    .col-4 a {
        float: right;
        margin-top: 0;
    }
    
    h4,
    p {
        color: #2d3436;
        font-weight: normal;
    }
    /* ---------------------------offer--------------------------------- */
    
    .offer {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    .offer .col-2 {
        padding: 0 20px;
    }
    
    .offer .col-2 img {
        padding: 50px;
    }
    
    .offer .col-2 h1 {
        margin: 10px;
    }
    
    .offer .col-2 small {
        padding-bottom: 0;
        color: #2d3436;
        line-height: 20px;
    }
    
    .offer .col-2 .btn {
        color: #000;
    }
    /* -------------------------brand--------------------------------- */
    
    .aboutus {
        text-align: center;
    }
    
    .about-text {
        width: 75%;
        text-align: center;
        line-height: 2em;
        font-size: 1em;
    }
    
    .brand .col-2 img {
        padding: 50px;
    }
    
    .brand .big-logo {
        font-size: 50px;
        color: #000;
    }
    
    .big-logo span {
        color: #e84393;
    }
    
    .social-media {
        padding-top: 50px;
    }
    
    .social-media .fa {
        padding-top: 30px;
        padding-right: 30px;
        font-size: 2em;
        cursor: pointer;
        display: block;
        margin-bottom: 10%;
    }
    
    .fa-instagram {
        color: transparent;
        background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
    }
    
    .fa-instagram:hover {
        color: #f84ad2;
    }
    
    .fa-facebook-official {
        color: #3B5990;
    }
    
    .fa-facebook-official:hover {
        color: #f84ad2;
    }
    /* -----------------------------footer-------------------------------- */
    
    .footer {
        background: #000;
        padding: 60px 0 20px;
    }
    
    .footer-col-1 {
        flex-basis: 30%;
        text-align: center;
    }
    
    .footer-col-1 img {
        min-width: 50px;
        width: 10px;
    }
    
    .footer h3 {
        color: #fff;
        margin-bottom: 20px;
    }
    
    .footer hr {
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }
    
    .copyright {
        text-align: center;
        color: #ffe3f9;
    }